/* welcome.css */

/* Styling for the entire welcome view */
.root {

}

/* Styling for the login pane */
#pnLogin {
    -fx-padding: 20; /* Add padding to the login pane */
}

/* Styling for the register button */
#registerButton {
    -fx-background-color: #007bff; /* Set background color for register button */
    -fx-text-fill: #ffffff; /* Set text color for register button */
}

/* Styling for the login button */
#Loginbtn {
    -fx-background-color: #007bff; /* Set background color for login button */
    -fx-text-fill: #ffffff; /* Set text color for login button */
}

/* Styling for the "Already have an account?" label */
#alreadyHaveAccountLabel {
    -fx-font-size: 14px; /* Set font size */
    -fx-text-fill: #808080; /* Set text color */
}
